.centrado {
    text-align: center;
    vertical-align: middle;
}

.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 10px;
}

.boton {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
}

.numeroPagina {
    margin-top: 35px;
}
